<header>
	<div id="titleimg">
        <div id="back"></div>
		<h1>Deagon Slipways</h1>
	</div>
	<nav class="clearfix">
		<ul id="navbar">
			<li><a href="index.html">Home</a></li>
			<li><a href="services.html">Services</a></li>
			<li><a href="yard.html">The Yard</a></li>
			<li><a href="history.html">History</a></li>
			<li><a href="projects.html">Projects</a></li>
			<li><a href="dinghy.html">Deagon Dinghies</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
    <a href="#" id="pull">Menu</a>
	</nav>
</header>