<!DOCTYPE html><!--Website Created by Jack Kerr-->
<html lang="en">
    {% include galleryhead.html %}
    <body>
        {% include header.html %}
        <div class="back">
            <div class="content">
                <div class="text">
                    <!--BODY TEXT GOES HERE-->
                    <div class="writingi">
                        {{ content }}
                    </div>
                    <!--END OF BODY TEXT-->
                </div>
                {% include footer.html %}
            </div>
        </div>
    </body>
</html>